body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em
}

.calendarCell {
    display: inline-block;
    width: 12%;
    height: 75px;
    background: #ccc;
    font-size: 0.75em;
    margin: 5px 2px 5px 2px;
    padding: 10px;
    transition: background .25s ease-in-out;
}
.calendarCell:hover {
    background-color: rgb(101, 185, 122);
}
.calendarCellSelected{
	display: inline-block;
    background-color: rgb(121, 224, 144);
    color:#FFF;
    font-weight:700;
	width:12%;
	height:75px;
	font-size: 0.75em;
	margin: 5px 2px 5px 2px;
	padding:10px;
}
.notAvailable {

}
.calendarFrame {

}
#datePicker, #enterEventDescription {
    display: inline-block;
    width: 35%;
    height: 100px;
    background: #999;
    margin: 15px;
    padding: 30px;
}
#enterEventDescription {

}
button, select {
    margin-top: 15px;
}